<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathgame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mathicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mathicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathGame">
        <activity android:name=".resultPage"></activity>
        <activity android:name=".multiGame" />
        <activity android:name=".subGame" />
        <activity android:name=".addGame" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>